.main-container {
  margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px));
    grid-gap: 20px;
}

.head {
  font-size: 2.5rem;
  text-align: center;
}

.sort-search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.sort-search-container label {
  font-size: 1.2rem;
}

.show-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
}

.show-image {
  width: 100%;
  max-width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}

.show-details {
  margin-top: 10px;
}

.show-title {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.show-season,
.show-genre,
.show-description,
.show-update {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.maindesign {
  font-weight: bold;
  color: #007bff; /* Change color as needed */
}
